web_server/node-red.json
[
    {
        "id": "a45bedac4494c612",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ad9f7624bb846d30",
        "type": "mqtt in",
        "z": "a45bedac4494c612",
        "name": "",
        "topic": "TOPIC/BRIDGE",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a7b65d826cdf49bb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 180,
        "wires": [
            [
                "32afb6f19b4566d1"
            ]
        ]
    },
    {
        "id": "32afb6f19b4566d1",
        "type": "json",
        "z": "a45bedac4494c612",
        "name": "",
        "property": "humi",
        "action": "obj",
        "pretty": false,
        "x": 250,
        "y": 180,
        "wires": [
            [
                "8c93e4250d36316d"
            ]
        ]
    },
    {
        "id": "54f8949593a837ea",
        "type": "ui_gauge",
        "z": "a45bedac4494c612",
        "name": "",
        "group": "ecfc0e61e8e30f4f",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Nhiệt độ ",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#09ec09",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 860,
        "y": 180,
        "wires": []
    },
    {
        "id": "bbf068db8c0967de",
        "type": "function",
        "z": "a45bedac4494c612",
        "name": "function 1",
        "func": "var tmp = msg.payload.data.temp;\nmsg.payload = tmp;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 180,
        "wires": [
            [
                "54f8949593a837ea"
            ]
        ]
    },
    {
        "id": "0ce6982c228aec21",
        "type": "ui_gauge",
        "z": "a45bedac4494c612",
        "name": "",
        "group": "ecfc0e61e8e30f4f",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Độ ẩm không khí",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 890,
        "y": 220,
        "wires": []
    },
    {
        "id": "d7b80f2a8ba7269a",
        "type": "ui_gauge",
        "z": "a45bedac4494c612",
        "name": "",
        "group": "102681f7254527d7",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Độ ẩm đất",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 870,
        "y": 260,
        "wires": []
    },
    {
        "id": "d6f7ead7ab38c4f8",
        "type": "ui_chart",
        "z": "a45bedac4494c612",
        "name": "",
        "group": "ecfc0e61e8e30f4f",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Cường độ ánh sáng",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 900,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "89adc06dfc1af8d1",
        "type": "function",
        "z": "a45bedac4494c612",
        "name": "function 2",
        "func": "var tmp = msg.payload.data.humi;\nmsg.payload = tmp;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 220,
        "wires": [
            [
                "0ce6982c228aec21"
            ]
        ]
    },
    {
        "id": "971417918c117165",
        "type": "function",
        "z": "a45bedac4494c612",
        "name": "function 3",
        "func": "var tmp = msg.payload.data.soil;\nmsg.payload = tmp;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 260,
        "wires": [
            [
                "d7b80f2a8ba7269a"
            ]
        ]
    },
    {
        "id": "d48fc7a3c8ca1bf4",
        "type": "function",
        "z": "a45bedac4494c612",
        "name": "function 4",
        "func": "var tmp = msg.payload.data.ss_light;\nmsg.payload = tmp;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 300,
        "wires": [
            [
                "d6f7ead7ab38c4f8"
            ]
        ]
    },
    {
        "id": "692494b9a8de8566",
        "type": "ui_gauge",
        "z": "a45bedac4494c612",
        "name": "",
        "group": "102681f7254527d7",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Nhiệt độ",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#09ec09",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 860,
        "y": 440,
        "wires": []
    },
    {
        "id": "183046afc458f3ac",
        "type": "function",
        "z": "a45bedac4494c612",
        "name": "function 5",
        "func": "var tmp = msg.payload.data.temp;\nmsg.payload = tmp;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 440,
        "wires": [
            [
                "692494b9a8de8566"
            ]
        ]
    },
    {
        "id": "d589fdc7a0b59e3d",
        "type": "ui_gauge",
        "z": "a45bedac4494c612",
        "name": "",
        "group": "102681f7254527d7",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Độ ẩm không khí",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 890,
        "y": 480,
        "wires": []
    },
    {
        "id": "a1caffcf155f1083",
        "type": "ui_gauge",
        "z": "a45bedac4494c612",
        "name": "",
        "group": "ecfc0e61e8e30f4f",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Độ ẩm đất",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 870,
        "y": 520,
        "wires": []
    },
    {
        "id": "45c81aad5fad1dc4",
        "type": "ui_chart",
        "z": "a45bedac4494c612",
        "name": "",
        "group": "102681f7254527d7",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Cường độ ánh sáng",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 900,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "969bd6ef69416aac",
        "type": "function",
        "z": "a45bedac4494c612",
        "name": "function 6",
        "func": "var tmp = msg.payload.data.humi;\nmsg.payload = tmp;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 480,
        "wires": [
            [
                "d589fdc7a0b59e3d"
            ]
        ]
    },
    {
        "id": "3cc601fd86276d0c",
        "type": "function",
        "z": "a45bedac4494c612",
        "name": "function 7",
        "func": "var tmp = msg.payload.data.soil;\nmsg.payload = tmp;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 520,
        "wires": [
            [
                "a1caffcf155f1083"
            ]
        ]
    },
    {
        "id": "ba462bba735a2760",
        "type": "function",
        "z": "a45bedac4494c612",
        "name": "function 8",
        "func": "var tmp = msg.payload.data.ss_light;\nmsg.payload = tmp;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 560,
        "wires": [
            [
                "45c81aad5fad1dc4"
            ]
        ]
    },
    {
        "id": "8c93e4250d36316d",
        "type": "switch",
        "z": "a45bedac4494c612",
        "name": "",
        "property": "payload.address",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 180,
        "wires": [
            [
                "bbf068db8c0967de",
                "89adc06dfc1af8d1",
                "971417918c117165",
                "d48fc7a3c8ca1bf4"
            ],
            [
                "183046afc458f3ac",
                "969bd6ef69416aac",
                "3cc601fd86276d0c",
                "ba462bba735a2760"
            ]
        ]
    },
    {
        "id": "a7b65d826cdf49bb",
        "type": "mqtt-broker",
        "name": "",
        "broker": "Mqtt.mysignage.vn",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ecfc0e61e8e30f4f",
        "type": "ui_group",
        "name": "Node 1",
        "tab": "3af24b3befbaf45c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "102681f7254527d7",
        "type": "ui_group",
        "name": "Node 2",
        "tab": "3af24b3befbaf45c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3af24b3befbaf45c",
        "type": "ui_tab",
        "name": "dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]